.header-wrap {
  width: 100vw;
  padding: 16px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  //   border: 1px solid black;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;
  background-color: #fff;
  box-shadow: 0 5px 20px -10px #000;
}
.header-logo {
  position: relative;
  background-color: white;
  a {
    text-decoration: none;
  }
  h1 {
    margin: 0;
    margin-left: 10px;
  }
}
.header-logo::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 1px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  z-index: -100;
  line-height: 0.7;
  animation: oo 3s ease-in-out;
}
.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10px;
  //   padding: 8px 16px;
}
.header-nav > * {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: large;
  padding: 6px 12px;
}
.active {
  color: red;
  font-weight: var(--fontWeight-bold);
  box-shadow: inset 2px 2px 3px 2px #ccc;
  border-radius: 2px solid #ccc;
}

@keyframes oo {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
    // transform: translateY(-10px);
  }
  90% {
    transform: translateX(20px);
  }
}
