.header-wrap {
  width: 100vw;
  padding: 16px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  //   border: 1px solid black;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 10;
  background-color: #fff;
  box-shadow: 0 5px 20px -10px #000;
}
.header-logo {
  position: relative;
  background-color: white;
  a {
    text-decoration: none;
  }
  h1 {
    margin: 0;
    margin-left: 10px;
  }
}
.header-logo::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 1px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  z-index: -100;
  line-height: 0.7;
  animation: oo 3s ease-in-out;
}
.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10px;
  //   padding: 8px 16px;
}
.header-nav > * {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: large;
  padding: 6px 12px;
}
.active {
  color: red;
  font-weight: var(--fontWeight-bold);
  box-shadow: inset 2px 2px 3px 2px #ccc;
  border-radius: 2px solid #ccc;
}

@keyframes oo {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
    // transform: translateY(-10px);
  }
  90% {
    transform: translateX(20px);
  }
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
