.side-bar {
  position: fixed;
  width: 60px;
  z-index: 999;
  margin: 0;
  top: 40%;
  left: 0;
}

.side-bar_item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px 0;
  padding-left: var(--spacing-5);
  cursor: pointer;
  .github {
    color: #333;
  }
  .facebook {
    color: #3b5998;
  }
  .linkedin {
    color: #0077b5;
  }
}
.icon {
  color: black;
  width: 32px;
}
@media (max-width: 768px) {
  .side-bar {
    top: 7%;
    right: 0;
  }

  .icon {
    width: 20px;
  }
}
.icon:hover {
  color: red;
  //   transform: skewX(-20deg);
  animation: o 0.5s linear;
}

@keyframes o {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}
